:root {
    /* raw colors */
    --gray-0:  #131413;
    --gray-1:  #181a19;
    --gray-2:  #202321;
    --gray-3:  #272b29;
    --gray-4:  #303433;
    --gray-5:  #404643;
    --gray-6:  #606965;
    --gray-7:  #808c87;
    --gray-8:  #a0aea9;
    --gray-9:  #c0d1ca;
    --gray-10: #e0f4ec;
    
    --red-0: #94493c;
    --red-1: #ac5546;
    --red-2: #c2604f;

    --orange-0: #9d7041;
    --orange-1: #b7824b;
    --orange-2: #cf9355;

    --yellow-0: #9a8e3a;
    --yellow-1: #b3a543;
    --yellow-2: #caba4c;

    --green-0: #438d4a;
    --green-1: #4ea456;
    --green-2: #58b961;

    --teal-0: #1d8e86;
    --teal-1: #22a59c;
    --teal-2: #26bab0;

    --blue-0: #34699c;
    --blue-1: #3c7ab5;
    --blue-2: #448acd;

    --purple-0: #6e5c99;
    --purple-1: #806bb2;
    --purple-2: #9179c9;

    --pink-0: #89407d;
    --pink-1: #9f4a91;
    --pink-2: #b454a4;

    --accent-0: #863a4d;
    --accent-1: #9c435a;
    --accent-2: #b04c66;

    /* shorthands */
    --red: var(--red-1);
    --orange: var(--orange-1);
    --yellow: var(--yellow-1);
    --green: var(--green-1);
    --teal: var(--teal-1);
    --blue: var(--blue-1);
    --purple: var(--purple-1);
    --pink: var(--pink-1);
    --accent: var(--accent-1);

    /* semantics */
    --bg: var(--gray-2);
    --light-bg: var(--gray-3);
    --fg: var(--gray-8);
    --light-fg: var(--gray-9);
    --subtle-fg: var(--gray-7);
    --hidden-fg: var(--gray-5);
    --select: var(--gray-4);
}
